#header {
  background-image: url("/images/5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.headerSearchItem .seperator {
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: black;
  margin: 0 1rem;
}
