@import "tailwindcss";

@layer base {
  :root {
    --color-primary-700: #1d4ed8;
    --color-secondary: #3a80f6;
    --color-secondary-500: #facc15;
    --color-red-warning: #b91c1c;
  }

  h2 {
    @apply text-xl font-medium;
  }

  h3 {
    @apply font-medium text-sm md:text-base lg:text-xl mb-2;
  }

  p {
    @apply text-sm lg:text-base;
    line-height: 1.5;
  }

  footer {
    @apply text-sm;
  }

  .nav-link {
    @apply relative transition-all;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-primary-700);
    transition: width 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .nav-link-active {
    @apply font-medium;
  }
}

@layer components {
  .btn {
    background-color: var(--color-primary-700);
    @apply text-white py-1 px-2 text-sm rounded-lg cursor-pointer transition delay-150 duration-300 ease-in-out hover:bg-yellow-500;
  }

  .input {
    @apply w-full bg-gray-50 text-gray-700 py-2 px-4 rounded-lg border border-gray-200 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all ease-in-out;
  }

  .searchBarIcon {
    @apply text-2xl;
  }

  .headerSearch {
    @apply bg-white shadow-[-1px_19px_65px_-25px_rgba(0,0,0,0.75)] container absolute bottom-[-10rem] lg:bottom-[-2rem]  left-1/2 transform -translate-x-1/2 z-10 flex flex-col lg:flex-row  gap-6 lg:gap-12 p-4 lg:p-8 rounded-xl lg:rounded-2xl w-[90%] sm:w-full md:w-[95%] lg:items-center lg:justify-evenly;
  }

  .searchBar {
    @apply bg-white  container mx-auto  flex flex-col lg:flex-row  gap-6 lg:px-50 lg:items-center lg:justify-between p-2  lg:p-4 w-full;
  }

  .searchItem {
    @apply items-center flex gap-4 hover:scale-105 transition-transform duration-200 origin-left;
  }

  .searchBtn {
    @apply bg-blue-700 rounded-full p-2 hover:bg-yellow-500 flex items-center justify-center gap-2  transition-all duration-300 text-white cursor-pointer;
  }
  @media (max-width: 1024px) {
    .searchBtn {
      @apply px-6 text-base font-medium;
    }
  }

  .modal {
    @apply fixed bottom-0 left-0 right-0 bg-white shadow-lg rounded-t-lg p-4 px-8 border-t border-gray-200 z-50 h-auto flex flex-col gap-8;
  }

  .optionsModalAbsolute {
    @apply bg-white shadow-lg rounded-lg p-4 border border-gray-200 absolute z-50;
  }

  .dateModalAbsolut {
    @apply bg-white shadow-lg rounded-lg p-4 border border-gray-200 absolute z-50;
  }

  .featureIcon {
    color: var(--color-secondary);
    @apply h-8 w-8 lg:h-10 lg:w-10 mb-4;
  }

  .parallax {
    @apply bg-center bg-no-repeat bg-cover text-white;
    background-image: url("/images/3.jpg");
    background-attachment: fixed;
  }

  .footer-btn {
    @apply text-sm lg:text-2xl text-white cursor-pointer;
  }

  .locationBtn {
    @apply px-2 py-1 font-bold text-white bg-blue-700 rounded-md shadow-[0_0_10px_rgba(29,78,216,0.8)] absolute bottom-4 left-4 z-[1000] hover:bg-yellow-500 transition-all delay-300 ease-in-out cursor-pointer;
  }
}

.section-spacing {
  @apply py-8 lg:py-14;
}

.optionCounterBtn {
  @apply p-2 text-xs rounded-lg text-gray-600 bg-gray-100 cursor-pointer;
}
.optionCounterBtn:hover {
  @apply bg-yellow-400;
}

.overlay {
  @apply fixed inset-0 bg-black/50 z-40;
}

/* Home page slider */
.slick-slide > div {
  margin: 0 0.6rem;
}
body .slick-prev::before,
body .slick-next::before {
  display: none;
}

/* Hotels List Scrollbar */
.overflow-y-scroll::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.current-hotel .Location {
  @apply text-blue-700;
}

.current-bookmark .name {
  @apply text-blue-700;
}
